/**
    This script contains the styling code for Ormali   
    Tips:
        ? Use the following interpolation function for bounce/spring
        - cubic-bezier(.26,-0.01,0,1.33)
        ? Ease in spring
        - cubic-bezier(.02,-0.12,0,1.19)
*/

/*
    Section: Fonts/CSS imports
*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nanum Gothic Coding:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

/*
    Section: Animations
*/
@keyframes slide-from-left {
    0% {
        transform: translateX(-10em);
    }

    100% {
        transform: translateX(0em);
    }
}

@keyframes anim-dialog-opening {
    0% {
        opacity: 40%;
        transform: scale(1.4);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes anim-dialog-closing {
    0% {
        opacity: 100%;
        transform: scale(1);
    }

    100% {
        opacity: 40%;
        transform: scale(1.4);
    }
}

@keyframes anim-dialog-backdrop-filter-opening {
    0% {
        opacity: 40%;
        backdrop-filter: blur(0px);
    }

    100% {
        opacity: 100%;
        backdrop-filter: blur(4px);
    }
}

/* 
    Section: Scrollbar Styling
*/
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #00000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: #454545;
    border-radius: 20px;
    border: 1px none #ffffff00;
}

/*
    Section: :root variables
*/
:root {
    --bg-primary: #222831;
    --bg-primary-semi-transparent: #222831ae;
    --bg-secondary: #31363F;
    --bg-secondary-semi-transparent: #3a404a73;
    --card-bg: #3b414b;
    --accent-primary: #1c8b90;
    --accent-primary-highlight: #1faeb5;
    --accent-primary-dim: #157c82;
    --accent-primary-highlight-semi-transparent: #1faeb597;
    --accent-primary-semi-transparent: #1c8a9097;
    --accent-primary-dim-semi-transparent: #157c8297;
    --accent-bright: #afe5e8;
    --accent-secondary: #313131;
    --accent-secondary-highlight: #434343;
    --text-color: #EEEEEE;
}

/*
    Section: Class styling
*/

btn:active,
btn:focus {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg-primary);
}

small,
span,
h3 {
    /* font-family: "Nanum Gothic Coding", "Inconsolata", monospace; */
}

.btn-primary {
    transition: all 50ms ease;
    background-color: var(--accent-primary-highlight) !important;
    border-color: var(--accent-primary) !important;
}

.btn-primary:active {
    background-color: var(--accent-primary) !important;
    border-color: var(--accent-primary-highlight) !important;
}

.btn-secondary {
    --border-width: 3px;
    transition: all 50ms ease;
    background-color: var(--accent-secondary) !important;
    border-color: var(--accent-primary) !important;
}

.btn-secondary:active {
    background-color: var(--accent-secondary-highlight) !important;
    border-color: var(--accent-primary-highlight) !important;
}

.btn-content-generating:after {
    content: '';
    position: absolute;
    top: calc(-0.5 * 2px);
    left: calc(-0.5 * 2px);
    height: calc(100% + 2px * 1.1);
    width: calc(100% + 2px * 1);
    background: linear-gradient(60deg, #34ebff00, var(--accent-primary-highlight), #00c4c4, #b600b6, #da62ff);
    border-radius: 3px;
    z-index: -1;
    animation: border-spin 3s ease alternate infinite;
    background-size: 300% 300%;
}

.btn-content-generating {
    position: relative;
    border-radius: 2px;
    background-color: var(--accent-secondary) !important;
    border: none;
    margin: 1px;
    flex: 1;
}

.dropdown-menu {
    background-color: var(--bg-primary-semi-transparent) !important;
    backdrop-filter: blur(3px);
    box-shadow: 0px 2px 6px #00000022;
}

.dropdown-item:hover {
    background-color: var(--bg-secondary-semi-transparent) !important;
}

.dropdown-item:active {
    background-color: var(--accent-primary-highlight) !important;
}

.navbar {
    position: fixed;
    background-color: var(--bg-secondary-semi-transparent) !important;
    backdrop-filter: blur(3px);
    width: 100%;
    box-shadow: 0px 2px 6px #00000022;
    z-index: 2;
}

.body {
    padding: 2em 2em;
    background-color: var(--bg-primary);
    color: var(--text-color);
    height: 100%;
}

.body-heading {
    /* font-family: "Nanum Gothic Coding", monospace; */
    font-weight: bolder;
    user-select: none;
    text-shadow: 3px 3px 2px #282828;
}

.body-heading:active {
    text-decoration: underline;
    text-underline-offset: .2em;
    text-shadow: 2px 2px 2px black;
}

.no-tasks {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.no-tasks>i {
    font-size: 10em;
    margin-bottom: -.1em;
}
.card-btn-container {
    display: flex;
    justify-content: right;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task {
    box-shadow: 1px 3px 6px #00000042;
    color: var(--text-color);
    background-color: var(--card-bg);
    transition: 150ms ease-out;
    margin-bottom: .8em;
    z-index: 0;
    /* font-family: "Nanum Gothic Coding", "Inconsolata", monospace !important; */
}

.task>div>div>a.btn {
    transition: 150ms ease-out;
    box-shadow: 1px 2px 4px #00000023;
}

.task>div>div>a.btn:hover {
    box-shadow: 1px 3px 6px #00000042;
}

.task:hover {
    box-shadow: 0px 5px 14px #00000056;
    scale: 1.01;
    transform: translateY(-.2em);
}

.nav-title {
    /* animation: slide-from-left 1s cubic-bezier(.12,-0.1,0,.98); */
    text-shadow: 2px 1px 3px #00000030;
    text-decoration: none;
    color: var(--accent-bright);
    font-size: 3em;
    font-weight: bolder;
    padding: .1em;
    font-family: "Indie Flower", cursive;
    margin-right: .45em;
}

.dropdown {
    display: flex;
}



.floating-menu {
    position: fixed;
    bottom: 1.8em;
    right: 2em;
    z-index: 5;
    font-size: 1.2em;
}

.floating-btn {
    box-shadow: 2px 4px 10px #0000006f;
    border-radius: .5em;
    background-color: var(--accent-primary-semi-transparent);
    color: var(--text-color);
    backdrop-filter: blur(10px);
    /* font-family: "Nanum Gothic Coding", "Inconsolata", monospace !important; */
    font-weight: bolder !important;
    padding: .5em 1em .5em 1em;
    border: none;
    outline: none;
    transition: 50ms ease-in;
}

.floating-btn:hover {
    box-shadow: 1px 3px 8px #0000006f;
    background-color: var(--accent-primary-highlight-semi-transparent);
    color: var(--text-color);
}

.floating-btn:active {
    color: var(--text-color) !important;
    background-color: var(--accent-primary-dim-semi-transparent) !important;
    border: none;
}

.popover-body {
    /* font-family: "Nanum Gothic Coding", "Inconsolata", monospace !important; */
    font-size: small;
    font-weight: bold;
    line-height: 1.2em;
}

.dialog {
    background-color: var(--card-bg);
    color: var(--text-color);
    border: none;
    border-radius: .5em;
    box-shadow: 0px 4px 7px #00000047;
    z-index: 10;
    /* font-family: "Nanum Gothic Coding", "Inconsolata", monospace !important; */
    position: fixed;
    min-width: 40em;
}

.dialog-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dialog-container>input,
.dialog-container>textarea {
    margin-bottom: 1em;
    border-color: var(--bg-secondary);
}

.dialog-container>input::placeholder,
.dialog-container>textarea::placeholder {
    color: var(--bs-secondary);
}

.dialog-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.dialog-btn-close {
    color: white;
    font-size: 3em;
    height: 100%;
    margin-bottom: 0.11em;
}
.dialog-anim-opening {
    animation: anim-dialog-opening 180ms cubic-bezier(.26, -0.01, 0, 1.33) 1;
}

.dialog-anim-closing {
    animation: anim-dialog-closing 180ms cubic-bezier(.02, -0.12, 0, 1.19) 1;
}

.card-btn-container>a {
    margin-left: .5em;
}

.card-text {
    white-space: pre;
    word-wrap: normal;
    overflow: scroll;
}

.card-title {
    font-size: 1.8em;
}

.flex-horiz {
    display: flex;
    flex-direction: row;
}

.flex-horiz>button {
    margin: .1em;
    flex: 1;
}

.field-search {
    font-size: 1.2em;
    flex: 1;
}

.navbar-nav>li,
.nav-search,
.nav-search::placeholder {
    /* font-family: "Nanum Gothic Coding", "Inconsolata", monospace !important; */
    font-weight: bolder !important;
}

.navbar-nav>li:hover {
    text-decoration: underline dotted;
    text-underline-offset: .4em;
    text-decoration-color: var(--bs-secondary);
}

.nav-search {
    margin-right: 1em;
    display: flex;
    align-items: center;
}

.nav-centered {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.nav-item {
    font-size: 1.3em;
}

.btn-search {
    height: 90%;
}

.bs-tooltip {
    --bs-tooltip-bg: var(--accent-secondary-highlight);
    --bs-tooltip-color: var(--text-color);  
}

/*
    Section: ID styling
*/

#dialog-dim-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    z-index: 9;
    backdrop-filter: blur(2px);
    /* Ensure overlay is behind the dialog */
    animation: anim-dialog-backdrop-filter-opening 50ms ease-in 1;
    overflow: none;
}

#tasks-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-around;
    padding-left: 2em;
    padding-right: 2em;
}

#dialog-new-task-alert-error {
    overflow: scroll;
    flex: 1;
}

/*
    Section: Media queries
*/
@media (max-width: 995px) {
    .nav-centered {
        display: block;
        flex-direction: row;
        justify-content: left;
    }

    .nav-search {
        flex: 1;
        margin-left: .1em;
        margin-right: .6em;
    }

    .dialog {
        min-width: 20em;
    }
}